<a href="https://colab.research.google.com/github/PreciousOmonode/Capstone-Project_Consumption-and-Forecasting/blob/main/Capstone_Project___Consumption_and_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
from google.colab import drive
drive.mount("/content/drive")

import pandas as pd
import numpy as np


base_path = "/content/drive/MyDrive/Capstone Datasets/New_dataset"

user_profile = pd.read_csv(f"{base_path}/user_profile.csv")
appliances = pd.read_csv(f"{base_path}/appliances_cleaned.csv")
energy_accounts = pd.read_csv(f"{base_path}/energy_accounts.csv")
energy_purchase = pd.read_csv(f"{base_path}/energy_purchase.csv")
consumption_log = pd.read_csv(f"{base_path}/consumption_log.csv")
energy_balance = pd.read_excel(f"{base_path}/energy_balance.xlsx")
energy_balance = pd.read_excel(f"{base_path}/energy_balance.xlsx")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
user_profile.head()

,profile_id,user_id,first_name,last_name,business_type,business_name,phone_number,country,city
0,P001,U001,Nia,Mabaso,Is_Household,Is_Houshold,2.781857e+10,South Africa,Johannesburg
1,P002,U002,Thabo,Petersen,Butchery,Pretoria Meat Shop,2.776485e+10,South Africa,Pretoria
2,P003,U003,Zuri,Botha,ICT Services,Cape Tech Hub,2.778497e+10,South Africa,Cape Town
3,P004,U004,Peter,Akpan,Bakery,Golden Crust Bakery,2.348030e+11,Nigeria,Lagos
4,P005,U005,Bola,Yemi,Is_Household,Is_Household,2.347880e+11,Nigeria,Abuja

In [56]:
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   profile_id     15 non-null     object
 1   user_id        15 non-null     object
 2   first_name     15 non-null     object
 3   last_name      15 non-null     object
 4   business_type  15 non-null     object
 5   business_name  15 non-null     object
 6   phone_number   15 non-null     float64
 7   country        15 non-null     object
 8   city           15 non-null     object
dtypes: float64(1), object(8)
memory usage: 1.2+ KB

In [57]:
#Convert all object datatype to string datatype

user_profile=user_profile.astype(str)

In [23]:
energy_accounts.head()

  account_id user_id meter_number  base_tariff        created_at  updated_at
0       E001    U001   SAEC123456         2.58  17/02/2025 00:00         NaN
1       E002    U002   ESKOM12345         2.58  17/02/2025 00:00         NaN
2       E003    U003   ESKOM33345         2.58  17/02/2025 00:00         NaN
3       E004    U004   N123453567        63.63  17/02/2025 00:00         NaN
4       E005    U005   N962839405        63.63  17/02/2025 00:00         NaN

In [58]:
energy_accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    15 non-null     object
 1   user_id       15 non-null     object
 2   meter_number  15 non-null     object
 3   base_tariff   15 non-null     float64
 4   created_at    15 non-null     object
 5   updated_at    0 non-null      float64
dtypes: float64(2), object(4)
memory usage: 852.0+ bytes

In [59]:
#Convert created_at and updated_at to datetime datatype
energy_accounts["created_at"] = pd.to_datetime(
    energy_accounts["created_at"],
    format="%d/%m/%Y %H:%M"
)
energy_accounts["updated_at"] = pd.to_datetime(
    energy_accounts["updated_at"],
    format="%d/%m/%Y %H:%M"
)

In [60]:
energy_purchase

   purchase_id account_id        date  credits_purchased    source    token_id
0        P0001       E001  01/07/2025            3513.72  External  TKN_000001
1        P0002       E001  01/08/2025            3278.30  External  TKN_000002
2        P0003       E001  01/09/2025            3450.74  External  TKN_000003
3        P0004       E001  01/10/2025            3615.39  External  TKN_000004
4        P0005       E001  01/11/2025            3822.07  External  TKN_000005
..         ...        ...         ...                ...       ...         ...
85       P0086       E015  01/08/2025            1061.65       App  TKN_000086
86       P0087       E015  01/09/2025            1102.28       App  TKN_000087
87       P0088       E015  01/10/2025            1049.36       App  TKN_000088
88       P0089       E015  01/11/2025            1005.01       App  TKN_000089
89       P0090       E015  01/12/2025            1080.21       App  TKN_000090

[90 rows x 6 columns]

In [61]:
energy_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   purchase_id        90 non-null     object
 1   account_id         90 non-null     object
 2   date               90 non-null     object
 3   credits_purchased  90 non-null     float64
 4   source             90 non-null     object
 5   token_id           90 non-null     object
dtypes: float64(1), object(5)
memory usage: 4.3+ KB

In [62]:
#Convert date to datetime datatype
energy_purchase["date"] = pd.to_datetime(
    energy_purchase["date"],
    format="%d/%m/%Y"
)

In [63]:
energy_balance.head()

  account_id last_updated
0       E001   2025-12-01
1       E002   2025-12-01
2       E003   2025-12-01
3       E004   2025-12-01
4       E005   2025-12-01

In [64]:
energy_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    15 non-null     object
 1   last_updated  15 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 372.0+ bytes

In [65]:
consumption_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   log_id                1350 non-null   object
 1   account_id            1350 non-null   object
 2   date                  1350 non-null   object
 3   estimated_kwh_used    0 non-null      float64
 4   estimated_units_used  0 non-null      float64
 5   remaining_units       0 non-null      float64
dtypes: float64(3), object(3)
memory usage: 63.4+ KB

In [66]:
consumption_log["date"] = pd.to_datetime(consumption_log["date"], dayfirst=True)

In [67]:
appliances.head()

,appliance_id,energy_account_id,appliance_type,wattage,quantity,hours_per_day,duty_cycle
0,A001,E001,Fridge,309,3,16,0.82
1,A002,E001,Freezer,398,2,16,0.83
2,A003,E001,LED bulb,9,3,9,0.99
3,A004,E001,LED bulb,11,2,6,0.84
4,A005,E001,TV,186,2,7,0.71

In [68]:
appliances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   appliance_id       57 non-null     object
 1   energy_account_id  57 non-null     object
 2   appliance_type     57 non-null     object
 3   wattage            57 non-null     int64
 4   quantity           57 non-null     int64
 5   hours_per_day      57 non-null     int64
 6   duty_cycle         57 non-null     float64
dtypes: float64(1), int64(3), object(3)
memory usage: 3.2+ KB

In [69]:

from datetime import datetime
from datetime import timedelta

In [75]:

#function to match id columns

def _clean_account_ids(appliances, consumption_log, energy_balance, energy_purchase, energy_accounts):
    # Rename first, then clean
    if "energy_account_id" in appliances.columns:
        appliances = appliances.rename(columns={"energy_account_id": "account_id"})

    for df in [appliances, consumption_log, energy_balance, energy_purchase, energy_accounts]:
        if "account_id" in df.columns:
            df["account_id"] = df["account_id"].astype(str).str.strip()

    return appliances, consumption_log, energy_balance, energy_purchase, energy_accounts

#funtion to calculate daily_kwh

def _prepare_daily_kwh(appliances: pd.DataFrame,
                       energy_accounts: pd.DataFrame) -> pd.DataFrame:
    appliances = appliances.copy()

    appliances["kwh_per_day"] = (
        appliances["wattage"] *
        appliances["quantity"] *
        appliances["hours_per_day"] *
        appliances["duty_cycle"]
    ) / 1000

    daily_kwh = (
        appliances.groupby("account_id")["kwh_per_day"]
        .sum()
        .reset_index()
    )
    daily_kwh.columns = ["account_id", "daily_kwh"]

    daily_kwh = daily_kwh.merge(
        energy_accounts[["account_id", "base_tariff"]],
        on="account_id",
        how="left"
    )

    daily_kwh["units_per_day"] = daily_kwh["daily_kwh"] / daily_kwh["base_tariff"]

    return daily_kwh

#function that calculates user's starting balance and computes in energy_balance table

def _prepare_starting_balance(energy_balance: pd.DataFrame,
                              energy_purchase: pd.DataFrame) -> pd.DataFrame:
    energy_balance = energy_balance.copy()

    purchase_totals = (
        energy_purchase.groupby("account_id")["credits_purchased"]
        .sum()
        .reset_index()
    )
    purchase_totals.columns = ["account_id", "lifetime_units_purchased"]

    cols_to_remove = [
        c for c in energy_balance.columns
        if "lifetime_units_purchased" in c or "lifetime_units_consumed" in c
    ]
    energy_balance = energy_balance.drop(columns=cols_to_remove, errors="ignore")

    energy_balance = energy_balance.merge(purchase_totals, on="account_id", how="left")

    energy_balance["lifetime_units_consumed"] = 0
    energy_balance["current_units"] = energy_balance["lifetime_units_purchased"]

    return energy_balance

#function that generates a consumption/daily usage log

def _generate_consumption_log(consumption_log: pd.DataFrame,
                              daily_kwh: pd.DataFrame,
                              energy_balance: pd.DataFrame) -> pd.DataFrame:
    consumption_log = consumption_log.copy()

    cols_to_drop = [
        "daily_kwh", "daily_kwh_x", "daily_kwh_y",
        "base_tariff", "base_tariff_x", "base_tariff_y",
        "units_per_day", "units_per_day_x", "units_per_day_y"
    ]
    consumption_log = consumption_log.drop(columns=[c for c in cols_to_drop if c in consumption_log.columns])

    consumption_log = consumption_log.merge(daily_kwh, on="account_id", how="left")

    variation = np.random.uniform(0.9, 1.1, size=len(consumption_log))
    consumption_log["estimated_kwh_used"] = consumption_log["daily_kwh"] * variation
    consumption_log["estimated_units_used"] = consumption_log["units_per_day"] * variation

    consumption_log["date"] = pd.to_datetime(consumption_log["date"], dayfirst=True)
    consumption_log = consumption_log.sort_values(["account_id", "date"])

    remaining_units_list = []

    for acc in consumption_log["account_id"].unique():
        acc_log = consumption_log[consumption_log["account_id"] == acc].copy()

        start_balance = float(
            energy_balance.loc[energy_balance["account_id"] == acc, "current_units"].iloc[0]
        )

        acc_log["remaining_units"] = start_balance - acc_log["estimated_units_used"].cumsum()
        remaining_units_list.append(acc_log)

    consumption_log = pd.concat(remaining_units_list)

    return consumption_log

#function that updates the energy balance as consumption occurs

def _update_energy_balance_with_consumption(energy_balance: pd.DataFrame,
                                            consumption_log: pd.DataFrame) -> pd.DataFrame:
    energy_balance = energy_balance.copy()

    consumed_totals = (
        consumption_log.groupby("account_id")["estimated_units_used"]
        .sum()
        .reset_index()
    )
    consumed_totals.columns = ["account_id", "lifetime_units_consumed"]

    energy_balance = energy_balance.drop(columns=["lifetime_units_consumed"], errors="ignore")
    energy_balance = energy_balance.merge(consumed_totals, on="account_id", how="left")

    energy_balance["current_units"] = (
        energy_balance["lifetime_units_purchased"] -
        energy_balance["lifetime_units_consumed"]
    )

    last_dates = (
        consumption_log.groupby("account_id")["date"]
        .max()
        .reset_index()
    )
    last_dates.columns = ["account_id", "last_updated"]

    energy_balance = energy_balance.drop(columns=["last_updated"], errors="ignore")
    energy_balance = energy_balance.merge(last_dates, on="account_id", how="left")

    return energy_balance

#function that forecasts how many days is remaining for a purchased unit

def _forecast_depletion(energy_balance: pd.DataFrame,
                        daily_kwh: pd.DataFrame) -> pd.DataFrame:
    energy_balance = energy_balance.copy()

    eb_cols_to_drop = [
        "units_per_day", "units_per_day_x", "units_per_day_y",
        "daily_kwh", "daily_kwh_x", "daily_kwh_y",
        "base_tariff", "base_tariff_x", "base_tariff_y"
    ]
    energy_balance = energy_balance.drop(columns=[c for c in eb_cols_to_drop if c in energy_balance.columns])

    energy_balance = energy_balance.merge(
        daily_kwh[["account_id", "units_per_day"]],
        on="account_id",
        how="left"
    )

    energy_balance["days_remaining"] = (
        energy_balance["current_units"] / energy_balance["units_per_day"]
    )

    energy_balance["days_remaining"] = energy_balance["days_remaining"].astype(float)
    energy_balance["days_remaining"] = energy_balance["days_remaining"].replace([np.inf, -np.inf], np.nan)

    energy_balance.loc[
        (energy_balance["units_per_day"].isna()) | (energy_balance["units_per_day"] == 0),
        "days_remaining"
    ] = np.nan

    energy_balance.loc[energy_balance["current_units"] <= 0, "days_remaining"] = 0

    MAX_DAYS = 365 * 10
    energy_balance.loc[energy_balance["days_remaining"] > MAX_DAYS, "days_remaining"] = np.nan

    energy_balance["forecast_depletion_date"] = energy_balance.apply(
        lambda row: (
            row["last_updated"] + timedelta(days=row["days_remaining"])
            if pd.notna(row["last_updated"]) and pd.notna(row["days_remaining"])
            else pd.NaT
        ),
        axis=1
    )

    return energy_balance


def run_energy_pipeline(
    appliances: pd.DataFrame,
    consumption_log: pd.DataFrame,
    energy_balance: pd.DataFrame,
    energy_purchase: pd.DataFrame,
    energy_accounts: pd.DataFrame,
):

    appliances, consumption_log, energy_balance, energy_purchase, energy_accounts = _clean_account_ids(
        appliances, consumption_log, energy_balance, energy_purchase, energy_accounts
    )

    daily_kwh = _prepare_daily_kwh(appliances, energy_accounts)
    energy_balance = _prepare_starting_balance(energy_balance, energy_purchase)
    consumption_log = _generate_consumption_log(consumption_log, daily_kwh, energy_balance)
    energy_balance = _update_energy_balance_with_consumption(energy_balance, consumption_log)
    energy_balance = _forecast_depletion(energy_balance, daily_kwh)

    return consumption_log, energy_balance