<a href="https://colab.research.google.com/github/PreciousOmonode/Capstone-Project/blob/main/Capstone_Project___Zee_and_Precious.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")

import pandas as pd
import numpy as np


base_path = "/content/drive/MyDrive/Capstone Datasets/New_dataset"

user_profile = pd.read_csv(f"{base_path}/user_profile.csv")
appliances = pd.read_csv(f"{base_path}/appliances_cleaned.csv")
energy_accounts = pd.read_csv(f"{base_path}/energy_accounts.csv")
energy_purchase = pd.read_csv(f"{base_path}/energy_purchase.csv")
consumption_log = pd.read_csv(f"{base_path}/consumption_log.csv")
energy_balance = pd.read_excel(f"{base_path}/energy_balance.xlsx")
energy_balance = pd.read_excel(f"{base_path}/energy_balance.xlsx")

Mounted at /content/drive

In [2]:
user_profile.head()

,profile_id,user_id,first_name,last_name,business_type,business_name,phone_number,country,city
0,P001,U001,Nia,Mabaso,Is_Household,Is_Houshold,2.781857e+10,South Africa,Johannesburg
1,P002,U002,Thabo,Petersen,Butchery,Pretoria Meat Shop,2.776485e+10,South Africa,Pretoria
2,P003,U003,Zuri,Botha,ICT Services,Cape Tech Hub,2.778497e+10,South Africa,Cape Town
3,P004,U004,Peter,Akpan,Bakery,Golden Crust Bakery,2.348030e+11,Nigeria,Lagos
4,P005,U005,Bola,Yemi,Is_Household,Is_Household,2.347880e+11,Nigeria,Abuja

In [3]:
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   profile_id     15 non-null     object
 1   user_id        15 non-null     object
 2   first_name     15 non-null     object
 3   last_name      15 non-null     object
 4   business_type  15 non-null     object
 5   business_name  15 non-null     object
 6   phone_number   15 non-null     float64
 7   country        15 non-null     object
 8   city           15 non-null     object
dtypes: float64(1), object(8)
memory usage: 1.2+ KB

In [4]:
#Convert all object datatype to string datatype

user_profile=user_profile.astype(str)

In [5]:
energy_accounts.head()

  account_id user_id meter_number  base_tariff        created_at  updated_at
0       E001    U001   SAEC123456         2.58  17/02/2025 00:00         NaN
1       E002    U002   ESKOM12345         2.58  17/02/2025 00:00         NaN
2       E003    U003   ESKOM33345         2.58  17/02/2025 00:00         NaN
3       E004    U004   N123453567        63.63  17/02/2025 00:00         NaN
4       E005    U005   N962839405        63.63  17/02/2025 00:00         NaN

In [6]:
energy_accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    15 non-null     object
 1   user_id       15 non-null     object
 2   meter_number  15 non-null     object
 3   base_tariff   15 non-null     float64
 4   created_at    15 non-null     object
 5   updated_at    0 non-null      float64
dtypes: float64(2), object(4)
memory usage: 852.0+ bytes

In [7]:
#Convert created_at and updated_at to datetime datatype
energy_accounts["created_at"] = pd.to_datetime(
    energy_accounts["created_at"],
    format="%d/%m/%Y %H:%M"
)
energy_accounts["updated_at"] = pd.to_datetime(
    energy_accounts["updated_at"],
    format="%d/%m/%Y %H:%M"
)

In [8]:
energy_purchase

   purchase_id account_id        date  units_purchased    source    token_id
0        P0001       E001  01/07/2025           351.37  External  TKN_000001
1        P0002       E001  01/08/2025           327.83  External  TKN_000002
2        P0003       E001  01/09/2025           345.07  External  TKN_000003
3        P0004       E001  01/10/2025           361.54  External  TKN_000004
4        P0005       E001  01/11/2025           382.21  External  TKN_000005
..         ...        ...         ...              ...       ...         ...
85       P0086       E015  01/08/2025           106.17       App  TKN_000086
86       P0087       E015  01/09/2025           110.23       App  TKN_000087
87       P0088       E015  01/10/2025           104.94       App  TKN_000088
88       P0089       E015  01/11/2025           100.50       App  TKN_000089
89       P0090       E015  01/12/2025           108.02       App  TKN_000090

[90 rows x 6 columns]

In [9]:
energy_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   purchase_id      90 non-null     object
 1   account_id       90 non-null     object
 2   date             90 non-null     object
 3   units_purchased  90 non-null     float64
 4   source           90 non-null     object
 5   token_id         90 non-null     object
dtypes: float64(1), object(5)
memory usage: 4.3+ KB

In [10]:
#Convert date to datetime datatype
energy_purchase["date"] = pd.to_datetime(
    energy_purchase["date"],
    format="%d/%m/%Y"
)

In [11]:
energy_balance.head()

  account_id last_updated
0       E001   2025-12-01
1       E002   2025-12-01
2       E003   2025-12-01
3       E004   2025-12-01
4       E005   2025-12-01

In [12]:
energy_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   account_id    15 non-null     object
 1   last_updated  15 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 372.0+ bytes

In [13]:
consumption_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   log_id                1350 non-null   object
 1   account_id            1350 non-null   object
 2   date                  1350 non-null   object
 3   estimated_kwh_used    0 non-null      float64
 4   estimated_units_used  0 non-null      float64
 5   remaining_units       0 non-null      float64
dtypes: float64(3), object(3)
memory usage: 63.4+ KB

In [14]:
consumption_log["date"] = pd.to_datetime(consumption_log["date"], dayfirst=True)

In [15]:
appliances.head()

,appliance_id,energy_account_id,appliance_type,wattage,quantity,hours_per_day,duty_cycle
0,A001,E001,Fridge,309,3,16,0.82
1,A002,E001,Freezer,398,2,16,0.83
2,A003,E001,LED bulb,9,3,9,0.99
3,A004,E001,LED bulb,11,2,6,0.84
4,A005,E001,TV,186,2,7,0.71

In [16]:
appliances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   appliance_id       57 non-null     object
 1   energy_account_id  57 non-null     object
 2   appliance_type     57 non-null     object
 3   wattage            57 non-null     int64
 4   quantity           57 non-null     int64
 5   hours_per_day      57 non-null     int64
 6   duty_cycle         57 non-null     float64
dtypes: float64(1), int64(3), object(3)
memory usage: 3.2+ KB

In [17]:

from datetime import datetime
from datetime import timedelta

In [18]:

#function to match id columns

def _clean_account_ids(appliances, consumption_log, energy_balance, energy_purchase, energy_accounts):
    # Rename first, then clean
    if "energy_account_id" in appliances.columns:
        appliances = appliances.rename(columns={"energy_account_id": "account_id"})

    for df in [appliances, consumption_log, energy_balance, energy_purchase, energy_accounts]:
        if "account_id" in df.columns:
            df["account_id"] = df["account_id"].astype(str).str.strip()

    return appliances, consumption_log, energy_balance, energy_purchase, energy_accounts

#funtion to calculate daily_kwh

def _prepare_daily_kwh(appliances: pd.DataFrame,
                       energy_accounts: pd.DataFrame) -> pd.DataFrame:
    appliances = appliances.copy()

    appliances["kwh_per_day"] = (
        appliances["wattage"] *
        appliances["quantity"] *
        appliances["hours_per_day"] *
        appliances["duty_cycle"]
    ) / 1000

    daily_kwh = (
        appliances.groupby("account_id")["kwh_per_day"]
        .sum()
        .reset_index()
    )
    daily_kwh.columns = ["account_id", "daily_kwh"]

    daily_kwh = daily_kwh.merge(
        energy_accounts[["account_id", "base_tariff"]],
        on="account_id",
        how="left"
    )

    daily_kwh["units_per_day"] = daily_kwh["daily_kwh"] / daily_kwh["base_tariff"]

    return daily_kwh

#function that calculates user's starting balance and computes in energy_balance table

def _prepare_starting_balance(energy_balance: pd.DataFrame,
                              energy_purchase: pd.DataFrame) -> pd.DataFrame:
    energy_balance = energy_balance.copy()

    purchase_totals = (
        energy_purchase.groupby("account_id")["units_purchased"]
        .sum()
        .reset_index()
    )
    purchase_totals.columns = ["account_id", "lifetime_units_purchased"]

    cols_to_remove = [
        c for c in energy_balance.columns
        if "lifetime_units_purchased" in c or "lifetime_units_consumed" in c
    ]
    energy_balance = energy_balance.drop(columns=cols_to_remove, errors="ignore")

    energy_balance = energy_balance.merge(purchase_totals, on="account_id", how="left")

    energy_balance["lifetime_units_consumed"] = 0
    energy_balance["current_units"] = energy_balance["lifetime_units_purchased"]

    return energy_balance

#function that generates a consumption/daily usage log

def _generate_consumption_log(consumption_log: pd.DataFrame,
                              daily_kwh: pd.DataFrame,
                              energy_balance: pd.DataFrame):
    consumption_log = consumption_log.copy()

    cols_to_drop = [
        "daily_kwh", "daily_kwh_x", "daily_kwh_y",
        "base_tariff", "base_tariff_x", "base_tariff_y",
        "units_per_day", "units_per_day_x", "units_per_day_y"
    ]
    consumption_log = consumption_log.drop(columns=[c for c in cols_to_drop if c in consumption_log.columns])

    consumption_log = consumption_log.merge(daily_kwh, on="account_id", how="left")

    variation = np.random.uniform(0.9, 1.1, size=len(consumption_log))
    consumption_log["estimated_kwh_used"] = consumption_log["daily_kwh"] * variation
    consumption_log["estimated_units_used"] = consumption_log["units_per_day"] * variation

    consumption_log["date"] = pd.to_datetime(consumption_log["date"], dayfirst=True)
    consumption_log = consumption_log.sort_values(["account_id", "date"])

    remaining_units_list = []

    for acc in consumption_log["account_id"].unique():
        acc_log = consumption_log[consumption_log["account_id"] == acc].copy()

        start_balance = float(
            energy_balance.loc[energy_balance["account_id"] == acc, "current_units"].iloc[0]
        )

        acc_log["remaining_units"] = start_balance - acc_log["estimated_units_used"].cumsum()
        remaining_units_list.append(acc_log)

    consumption_log = pd.concat(remaining_units_list)

    return consumption_log

#function that updates the energy balance as consumption occurs

def _update_energy_balance_with_consumption(energy_balance: pd.DataFrame,
                                            consumption_log: pd.DataFrame) -> pd.DataFrame:
    energy_balance = energy_balance.copy()

    consumed_totals = (
        consumption_log.groupby("account_id")["estimated_units_used"]
        .sum()
        .reset_index()
    )
    consumed_totals.columns = ["account_id", "lifetime_units_consumed"]

    energy_balance = energy_balance.drop(columns=["lifetime_units_consumed"], errors="ignore")
    energy_balance = energy_balance.merge(consumed_totals, on="account_id", how="left")

    energy_balance["current_units"] = (
        energy_balance["lifetime_units_purchased"] -
        energy_balance["lifetime_units_consumed"]
    )

    last_dates = (
        consumption_log.groupby("account_id")["date"]
        .max()
        .reset_index()
    )
    last_dates.columns = ["account_id", "last_updated"]

    energy_balance = energy_balance.drop(columns=["last_updated"], errors="ignore")
    energy_balance = energy_balance.merge(last_dates, on="account_id", how="left")

    return energy_balance

#function that forecasts how many days is remaining for a purchased unit

def _forecast_depletion(energy_balance: pd.DataFrame,
                        daily_kwh: pd.DataFrame) -> pd.DataFrame:
    energy_balance = energy_balance.copy()

    eb_cols_to_drop = [
        "units_per_day", "units_per_day_x", "units_per_day_y",
        "daily_kwh", "daily_kwh_x", "daily_kwh_y",
        "base_tariff", "base_tariff_x", "base_tariff_y"
    ]
    energy_balance = energy_balance.drop(columns=[c for c in eb_cols_to_drop if c in energy_balance.columns])

    energy_balance = energy_balance.merge(
        daily_kwh[["account_id", "units_per_day"]],
        on="account_id",
        how="left"
    )

    energy_balance["days_remaining"] = (
        energy_balance["current_units"] / energy_balance["units_per_day"]
    )

    energy_balance["days_remaining"] = energy_balance["days_remaining"].astype(float)
    energy_balance["days_remaining"] = energy_balance["days_remaining"].replace([np.inf, -np.inf], np.nan)

    energy_balance.loc[
        (energy_balance["units_per_day"].isna()) | (energy_balance["units_per_day"] == 0),
        "days_remaining"
    ] = np.nan

    energy_balance.loc[energy_balance["current_units"] <= 0, "days_remaining"] = 0

    MAX_DAYS = 365 * 5
    energy_balance.loc[energy_balance["days_remaining"] > MAX_DAYS, "days_remaining"] = np.nan

    energy_balance["forecast_depletion_date"] = energy_balance.apply(
        lambda row: (
            row["last_updated"] + timedelta(days=row["days_remaining"])
            if pd.notna(row["last_updated"]) and pd.notna(row["days_remaining"])
            else pd.NaT
        ),
        axis=1
    )

    return energy_balance


def run_energy_pipeline(
    appliances: pd.DataFrame,
    consumption_log: pd.DataFrame,
    energy_balance: pd.DataFrame,
    energy_purchase: pd.DataFrame,
    energy_accounts: pd.DataFrame,
):

    appliances, consumption_log, energy_balance, energy_purchase, energy_accounts = _clean_account_ids(
        appliances, consumption_log, energy_balance, energy_purchase, energy_accounts
    )

    daily_kwh = _prepare_daily_kwh(appliances, energy_accounts)
    energy_balance = _prepare_starting_balance(energy_balance, energy_purchase)
    consumption_log = _generate_consumption_log(consumption_log, daily_kwh, energy_balance)
    energy_balance = _update_energy_balance_with_consumption(energy_balance, consumption_log)
    energy_balance = _forecast_depletion(energy_balance, daily_kwh)

    return consumption_log, energy_balance

In [19]:
consumption_log, energy_balance = run_energy_pipeline(
    appliances,
    consumption_log,
    energy_balance,
    energy_purchase,
    energy_accounts,
)

# Available Energy (kWh)
available_energy = (
   energy_balance[["account_id", "current_units"]]
   .rename(columns={"current_units": "available_kwh"})
)
available_energy.head()

  account_id  available_kwh
0       E001    1202.912827
1       E002    1151.181629
2       E003    1133.944282
3       E004     325.694015
4       E005     361.714038

In [20]:
consumption_log, energy_balance = run_energy_pipeline(
    appliances,
    consumption_log,
    energy_balance,
    energy_purchase,
    energy_accounts,
)

#Estimated duration
#days_remaining = current_units / daily_usage
estimated_duration = (
   energy_balance[["account_id", "days_remaining"]]
)
energy_balance["days_remaining"] = energy_balance["days_remaining"].round(1)

energy_balance.loc[energy_balance["current_units"] <= 0, "days_remaining"] = 0

energy_balance.loc[
   energy_balance["days_remaining"] == 0,
   "forecast_depletion_date"
] = energy_balance.loc[
   energy_balance["days_remaining"] == 0, "last_updated"
].values

estimated_duration.head()

  account_id  days_remaining
0       E001      126.403720
1       E002       95.076448
2       E003      156.551773
3       E004      593.599097
4       E005     1413.702677

In [21]:
# show rows where days_remaining is NaN (to debug)
mask = energy_balance["days_remaining"].isna()
energy_balance.loc[mask, ["account_id", "current_units", "units_per_day", "last_updated"]].head(20)

   account_id  current_units  units_per_day last_updated
5        E006     840.127130       0.102090   2025-12-29
11       E012     474.899748       0.080421   2025-12-29
12       E013     742.816471       0.178977   2025-12-29
13       E014     703.405368       0.049667   2025-12-29
14       E015     619.954962       0.099152   2025-12-29

In [22]:
#daily average
#daily_avg_30 = rolling mean of total_kwh

consumption_log["date"] = pd.to_datetime(consumption_log["date"])
# --- DAILY AVERAGE (LAST 30 DAYS) ---

consumption_log["date"] = pd.to_datetime(consumption_log["date"])

# latest date in dataset

latest_date = consumption_log["date"].max()

# Filter for last 30 days

last_30_days = consumption_log[

    consumption_log["date"] >= latest_date - pd.Timedelta(days=30)

]

# Aggregate to daily totals (important if multiple logs per day)

daily_totals = (

    last_30_days

    .groupby(["account_id", "date"])["estimated_kwh_used"]

    .sum()

    .reset_index()

)

# Calculate average daily usage over last 30 days

daily_avg_30 = (

    daily_totals

    .groupby("account_id")["estimated_kwh_used"]

    .mean()

    .reset_index()

    .rename(columns={"estimated_kwh_used": "daily_avg_last_30"})

)

daily_avg_30.head()

  account_id  daily_avg_last_30
0       E001          24.948526
1       E002          31.082196
2       E003          18.759222
3       E004          34.938481
4       E005          16.226224

In [23]:
# --- LAST PURCHASE (Per Account) ---

energy_purchase["date"] = pd.to_datetime(energy_purchase["date"])
# most recent purchase per account
last_purchase = (
   energy_purchase
   .groupby("account_id")["date"]
   .max()
   .reset_index()
   .rename(columns={"date": "last_purchase_date"})
)
last_purchase.head()

  account_id last_purchase_date
0       E001         2025-12-01
1       E002         2025-12-01
2       E003         2025-12-01
3       E004         2025-12-01
4       E005         2025-12-01

In [24]:
# --- TODAY'S CONSUMPTION (Per Account) ---

consumption_log["date"] = pd.to_datetime(consumption_log["date"])

#latest date in dataset (represents "today" in this system)

today = consumption_log["date"].max()

# Aggregate total kWh used today per account

today_consumption = (

    consumption_log[consumption_log["date"] == today]

    .groupby("account_id")["estimated_kwh_used"]

    .sum()

    .reset_index()

    .rename(columns={"estimated_kwh_used": "today_kwh_used"})

)

today_consumption.head()

  account_id  today_kwh_used
0       E001       25.642557
1       E002       30.653490
2       E003       18.300641
3       E004       33.805720
4       E005       16.573838

In [25]:
# --- MONTHLY TREND GRAPH (Total kWh per Month per Account) ---

consumption_log["date"] = pd.to_datetime(consumption_log["date"])
# Create month column
consumption_log["month"] = consumption_log["date"].dt.to_period("M")
# Aggregate monthly consumption
monthly_trend = (
   consumption_log
   .groupby(["account_id", "month"])["estimated_kwh_used"]
   .sum()
   .reset_index()
   .rename(columns={"estimated_kwh_used": "monthly_kwh_used"})
)
# Convert month to string
monthly_trend["month"] = monthly_trend["month"].astype(str)
monthly_trend.head()

  account_id    month  monthly_kwh_used
0       E001  2025-10        753.715124
1       E001  2025-11        735.703338
2       E001  2025-12        721.977561
3       E002  2025-10        975.757314
4       E002  2025-11        934.091204

In [26]:
#MONTHLY TREND GRAPH (Total kWh per Month per Account) ---


consumption_log["date"] = pd.to_datetime(consumption_log["date"])

# Create month column

consumption_log["month"] = consumption_log["date"].dt.to_period("M")

# Aggregate monthly consumption

monthly_trend = (

    consumption_log

    .groupby(["account_id", "month"])["estimated_kwh_used"]

    .sum()

    .reset_index()

    .rename(columns={"estimated_kwh_used": "monthly_kwh_used"})

)

# Convert month to string

monthly_trend["month"] = monthly_trend["month"].astype(str)

monthly_trend.head()

  account_id    month  monthly_kwh_used
0       E001  2025-10        753.715124
1       E001  2025-11        735.703338
2       E001  2025-12        721.977561
3       E002  2025-10        975.757314
4       E002  2025-11        934.091204

In [27]:
#DYNAMIC MVP RECOMMENDATION ENGINE
#
appliances, _, _, _, _ = _clean_account_ids(appliances, consumption_log, energy_balance, energy_purchase, energy_accounts)

# Recalculate kWh per day
appliances["kwh_per_day"] = (
   appliances["wattage"] *
   appliances["quantity"] *
   appliances["hours_per_day"] *
   appliances["duty_cycle"]
) / 1000
# Map tariff
tariff_map = energy_accounts.set_index("account_id")["base_tariff"].to_dict()
appliances["base_tariff"] = appliances["account_id"].map(tariff_map)
# Total daily usage per account
total_daily = (
   appliances
   .groupby("account_id")["kwh_per_day"]
   .sum()
   .reset_index()
   .rename(columns={"kwh_per_day": "total_daily_kwh"})
)
appliances = appliances.merge(total_daily, on="account_id", how="left")
# Contribution %
appliances["contribution_pct"] = (
   appliances["kwh_per_day"] / appliances["total_daily_kwh"]
) * 100
recommendations = []
for _, row in appliances.iterrows():
   # RULE 1: High Contribution Appliance (>40%)
   if row["contribution_pct"] > 40:
       monthly_kwh_saving = row["kwh_per_day"] * 30 * 0.10
       monthly_money_saving = monthly_kwh_saving * row["base_tariff"]
       recommendations.append({
           "account_id": row["account_id"],
           "title": f"Optimize your {row['appliance_type']}",
           "description": f"This appliance contributes {round(row['contribution_pct'],1)}% of your total usage.",
           "estimated_monthly_kwh_saving": round(monthly_kwh_saving, 1),
           "estimated_monthly_money_saving": round(monthly_money_saving, 2)
       })
   # RULE 2: Long Daily Runtime (>8 hours)
   if row["hours_per_day"] >= 8:
       monthly_kwh_saving = row["kwh_per_day"] * 30 * 0.08
       monthly_money_saving = monthly_kwh_saving * row["base_tariff"]
       recommendations.append({
           "account_id": row["account_id"],
           "title": f"Reduce runtime of {row['appliance_type']}",
           "description": f"This appliance runs {row['hours_per_day']} hrs/day. Reducing usage slightly can lower costs.",
           "estimated_monthly_kwh_saving": round(monthly_kwh_saving, 1),
           "estimated_monthly_money_saving": round(monthly_money_saving, 2)
       })
   # RULE 3: High Wattage Appliance (>1500W)
   if row["wattage"] >= 1500:
       monthly_kwh_saving = row["kwh_per_day"] * 30 * 0.12
       monthly_money_saving = monthly_kwh_saving * row["base_tariff"]
       recommendations.append({
           "account_id": row["account_id"],
           "title": f"Consider upgrading your {row['appliance_type']}",
           "description": "High wattage appliance detected. Energy-efficient models can reduce consumption.",
           "estimated_monthly_kwh_saving": round(monthly_kwh_saving, 1),
           "estimated_monthly_money_saving": round(monthly_money_saving, 2)
       })
recommendation_df = pd.DataFrame(recommendations)
# Limit to top 3 recommendations per account (like Figma)
recommendation_df = (
   recommendation_df
   .sort_values(["account_id", "estimated_monthly_money_saving"], ascending=[True, False])
   .groupby("account_id")
   .head(3)
)
recommendation_df.reset_index(drop=True, inplace=True)
recommendation_df.head()

,account_id,title,description,estimated_monthly_kwh_saving,estimated_monthly_money_saving
0,E001,Optimize your Fridge,This appliance contributes 48.8% of your total...,36.5,94.14
1,E001,Optimize your Freezer,This appliance contributes 42.4% of your total...,31.7,81.82
2,E001,Reduce runtime of Fridge,This appliance runs 16 hrs/day. Reducing usage...,29.2,75.31
3,E002,Optimize your Freezer,This appliance contributes 46.9% of your total...,43.9,113.15
4,E002,Reduce runtime of Freezer,This appliance runs 16 hrs/day. Reducing usage...,35.1,90.52

In [28]:

# MACHINE LEARNING CONSUMPTION FORECAST

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score


ml_df = consumption_log.copy()

ml_df["date"] = pd.to_datetime(ml_df["date"])

ml_df = ml_df.sort_values(["account_id", "date"])

# Create time features

ml_df["day_index"] = ml_df.groupby("account_id").cumcount()

ml_df["month"] = ml_df["date"].dt.month

ml_df["day_of_week"] = ml_df["date"].dt.dayofweek

# Lag feature (yesterday's usage)

ml_df["lag_1"] = (

    ml_df.groupby("account_id")["estimated_kwh_used"]

    .shift(1)

)

# Drop first rows (lag = NaN)

ml_df = ml_df.dropna()

ml_df.head()

,log_id,account_id,date,estimated_kwh_used,estimated_units_used,remaining_units,daily_kwh,base_tariff,units_per_day,month,day_index,day_of_week,lag_1
1,D00002,E001,2025-10-02,25.248247,9.786142,2059.715444,24.93341,2.58,9.664112,10,1,3,23.757707
2,D00003,E001,2025-10-03,26.194634,10.152959,2049.562485,24.93341,2.58,9.664112,10,2,4,25.248247
3,D00004,E001,2025-10-04,23.225010,9.001942,2040.560544,24.93341,2.58,9.664112,10,3,5,26.194634
4,D00005,E001,2025-10-05,22.990946,8.911219,2031.649324,24.93341,2.58,9.664112,10,4,6,23.225010
5,D00006,E001,2025-10-06,23.013333,8.919897,2022.729428,24.93341,2.58,9.664112,10,5,0,22.990946

In [29]:
# Features
X = ml_df[["day_index", "month", "day_of_week", "lag_1"]]
# Target
y = ml_df["estimated_kwh_used"]

In [30]:
X_train, X_test, y_train, y_test = train_test_split(
   X, y,
   test_size=0.2,
   random_state=42
)

In [31]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [32]:
predictions = model.predict(X_test)
mae = mean_absolute_error(y_test, predictions)
r2 = r2_score(y_test, predictions)
print("MAE:", round(mae, 3))
print("R2 Score:", round(r2, 3))

MAE: 1.537
R2 Score: 0.983

In [33]:
#Calculates Usage

# Create future dataframe for predictions
future_df_list = []
n_forecast_days = 30 # Number of days to forecast

for account_id in ml_df["account_id"].unique():
    account_data = ml_df[ml_df["account_id"] == account_id].sort_values("date")

    last_date_actual = account_data["date"].max()
    last_kwh_actual = account_data[account_data["date"] == last_date_actual]["estimated_kwh_used"].iloc[0]
    last_day_index_actual = int(account_data[account_data["date"] == last_date_actual]["day_index"].iloc[0]) # Ensure int

    future_dates = pd.date_range(start=last_date_actual + pd.Timedelta(days=1), periods=n_forecast_days, freq='D')

    future_account_df = pd.DataFrame({
        "account_id": account_id,
        "date": future_dates,
        "day_index": range(last_day_index_actual + 1, last_day_index_actual + 1 + n_forecast_days),
        "month": future_dates.month,
        "day_of_week": future_dates.dayofweek,
        "lag_1": np.nan # Initialize lag_1 column explicitly
    })

    # Initialize lag_1 for the first forecast day with the last actual kwh used
    future_account_df.loc[0, "lag_1"] = last_kwh_actual

    # Predict iteratively to get lag_1 for subsequent days
    for i in range(n_forecast_days):
        # Prepare features for prediction for the current day in the forecast
        features = future_account_df.loc[i, ["day_index", "month", "day_of_week", "lag_1"]].to_frame().T

        # Predict
        predicted_kwh = model.predict(features)[0]
        future_account_df.loc[i, "predicted_kwh"] = predicted_kwh

        # Set lag_1 for the next day based on the current day's prediction
        if i < n_forecast_days - 1:
            future_account_df.loc[i + 1, "lag_1"] = predicted_kwh

    future_df_list.append(future_account_df)

future_df = pd.concat(future_df_list).reset_index(drop=True)
future_df.head()

projected_30_day_usage = (

   future_df

   .groupby("account_id")["predicted_kwh"]

   .sum()

   .reset_index()

   .rename(columns={"predicted_kwh": "projected_30_day_kwh"})

)

projected_30_day_usage.head()

#Calculates Cost

tariff_map = energy_accounts.set_index("account_id")["base_tariff"].to_dict()

projected_30_day_usage["base_tariff"] = projected_30_day_usage["account_id"].map(tariff_map)

projected_30_day_usage["projected_30_day_cost"] = (

    projected_30_day_usage["projected_30_day_kwh"] *

    projected_30_day_usage["base_tariff"]

)

projected_30_day_usage.head()

  account_id  projected_30_day_kwh  base_tariff  projected_30_day_cost
0       E001           1667.495864         2.58            4302.139328
1       E002           1789.431808         2.58            4616.734063
2       E003           1488.837804         2.58            3841.201533
3       E004           1866.138115        63.63          118742.368267
4       E005           1446.817800        63.63           92061.016642

In [34]:
#Save Trained Model
import joblib
# Save trained model
joblib.dump(model, "energy_forecast_model.pkl")

['energy_forecast_model.pkl']

In [35]:
# Prediction Function
import pandas as pd
import numpy as np
import joblib
def predict_30_days(account_id, consumption_log, energy_accounts, model_path="energy_forecast_model.pkl"):
   # Load model
   model = joblib.load(model_path)
   # Prepare historical data
   df = consumption_log.copy()
   df["date"] = pd.to_datetime(df["date"])
   df = df.sort_values(["account_id", "date"])
   # Filter for account
   acc_df = df[df["account_id"] == account_id].copy()
   if acc_df.empty:
       return None
   # Feature engineering (same as training)
   acc_df["day_index"] = range(len(acc_df))
   acc_df["month"] = acc_df["date"].dt.month
   acc_df["day_of_week"] = acc_df["date"].dt.dayofweek
   acc_df["lag_1"] = acc_df["estimated_kwh_used"].shift(1)
   acc_df = acc_df.dropna()
   last_row = acc_df.iloc[-1]
   last_day_index = last_row["day_index"]
   last_month = last_row["month"]
   last_dow = last_row["day_of_week"]
   last_usage = last_row["estimated_kwh_used"]
   future_kwh = []
   for i in range(1, 31):
       input_data = pd.DataFrame([{
           "day_index": last_day_index + i,
           "month": last_month,
           "day_of_week": (last_dow + i) % 7,
           "lag_1": last_usage
       }])
       predicted = model.predict(input_data)[0]
       future_kwh.append(predicted)
       last_usage = predicted  # update lag
   projected_30_day_kwh = sum(future_kwh)
   # Get tariff
   tariff = energy_accounts.loc[
       energy_accounts["account_id"] == account_id,
       "base_tariff"
   ].iloc[0]
   projected_30_day_cost = projected_30_day_kwh * tariff
   return {
       "account_id": account_id,
       "projected_30_day_kwh": round(projected_30_day_kwh, 2),
       "projected_30_day_cost": round(projected_30_day_cost, 2)
   }

   #Test
predict_30_days("E001", consumption_log, energy_accounts)

{'account_id': 'E001',
 'projected_30_day_kwh': np.float64(801.85),
 'projected_30_day_cost': np.float64(2068.78)}

In [36]:
#Requirement Txt
with open("requirements.txt", "w") as f:
   f.write("pandas\n")
   f.write("numpy\n")
   f.write("scikit-learn\n")
   f.write("joblib\n")
print("requirements.txt created successfully")

requirements.txt created successfully

In [37]:
#Download for Backend
from google.colab import files
files.download("requirements.txt")

In [38]:
!ls

drive  energy_forecast_model.pkl  requirements.txt  sample_data

In [39]:
# Create Forcast.py

%%writefile forecast.py

import joblib
import pandas as pd

# Load trained model
model = joblib.load("energy_forecast_model.pkl")

def predict_30_days(input_df: pd.DataFrame) -> pd.DataFrame:
    """
    Expects input_df with columns:
    ['day_index', 'month', 'day_of_week', 'lag_1']
    """

    predictions = model.predict(
        input_df[["day_index", "month", "day_of_week", "lag_1"]]
    )

    output = input_df.copy()
    output["predicted_kwh"] = predictions

    return output

Writing forecast.py

In [40]:
!ls

drive  energy_forecast_model.pkl  forecast.py  requirements.txt  sample_data

In [41]:
#ZIP for back-end

!zip ml_module.zip forecast.py energy_forecast_model.pkl requirements.txt

  adding: forecast.py (deflated 44%)
  adding: energy_forecast_model.pkl (deflated 34%)
  adding: requirements.txt (stored 0%)

In [42]:
#Download

from google.colab import files
files.download("ml_module.zip")